@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Rampart+One&display=swap');
body{
    font-family: 'Libre Baskerville', serif;
}
h1{
    font-family: 'Rampart One', cursive;
}
.container-fluid{
    padding-left: 1rem;
    padding-right: 1rem;
}
.container-center{
    width : 600px;
    margin: auto;
}