@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Rampart+One&display=swap');
:root{
    --primary-color : #831843;
}
body{
    font-family: 'Libre Baskerville', serif; 
}
hr{
    margin: 2rem 0rem;
}
h1{
    font-family: 'Rampart One', cursive;
}
.container{
    padding: 0rem 1rem;
}
.container-center{
    width : 600px;
    margin: auto;
}
.link{
    padding:0.5rem 1rem;
    text-decoration: none;
}
.primary-link{
background-color: var(--primary-color);
border-radius: 0.5rem;
color: white;
}
.secondary-link{
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem 1rem;
}    