@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Rampart+One&display=swap');
body{
    font-family: 'Libre Baskerville', serif;
}
h1{
    font-family: 'Rampart One', cursive;
}
