@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Rampart+One&display=swap');
:root{
    --primary-color : #831843;
    --dark-gray: #D1D5DB;
}
body{
    font-family: 'Libre Baskerville', serif; 
    margin: 0px;
}
hr{
    margin: 2rem 0rem;
}
h1{
    font-family: 'Rampart One', cursive;
}
.container{
    padding: 0rem 1rem;
}
.container-center{
    width : 600px;
    margin: auto;
    padding-top: 0rem;
    padding-bottom: 1.5rem;
}
.link{
    padding:0.5rem 1rem;
    text-decoration: none;
}
.primary-link{
background-color: var(--primary-color);
border-radius: 0.5rem;
color: white;
}
.secondary-link{
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem 1rem;
}    
.list-non-bullet{
    list-style: none;
}
.list-item-inline{
    display: inline;
    padding: 0rem 0.5rem;
}
.navigation{
    background-color: var(--primary-color);
    color: white;
    padding: 1.1rem;
    border-bottom-left-radius: 1rem;
}
.nav-brand{
    font-weight: bolder;
    font-size: 1rem;
}
.navigation .link{
    color: white;
}
.nav-pills{
    text-align: right;
}
.navigation .link-active{
    font-weight: bolder;
}
.hero{
    padding: 2rem;
}
.hero .hero-img{
    margin: auto;
    max-width: 350px;
    display: block;
}
.hero .hero-heading{
    
    text-align: center;
    padding: 1rem;
    color: var(--dark-gray);
}
.hero .hero-heading .heading-highlighted{
    color: var(--primary-color);
}
.section {
    padding: 2rem;
}
.section h2{
    text-align:center;
}
.ow{
    background-color: var(--dark-gray);
}
.footer{
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 2rem 1rem;
    border-top-right-radius: 1rem;
    padding-inline-start: 0px;
}
.footer .footer-header{
    font-weight: bold;
    font-size: large;
}

.footer .link{
    color: white;
    padding-inline-start: 0px;
}